/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-material-design/dist/css/bootstrap-material-design';
@import 'swiper/swiper-bundle';
@import 'font-awesome-sprockets';
@import 'font-awesome';


$x: 4px;
$2x: calc($x * 2);
$3x: calc($x * 3);
$4x: calc($x * 4);
$5x: calc($x * 5);
$6x: calc($x * 6);
$7x: calc($x * 7);
$8x: calc($x * 8);
$9x: calc($x * 9);
$10x: calc($x * 10);
$11x: calc($x * 11);
$12x: calc($x * 12);
$13x: calc($x * 13);
$14x: calc($x * 14);
$15x: calc($x * 15);


#header {
  margin-bottom: $12x
}

.c-icon-button {
  display: inline-block;
  height: $8x;
  text-align: center;
  vertical-align: -40%;
  width: $8x;
}

.post {
  max-width: 400px;
}
